<ion-view title="Dashboard Notifications" ng-controller="AlertCenterCtrl as alertCenter">
  <ion-content class="padding">
  	<div class="row responsive-sm" ng-repeat="notification in alertCenter.notificationList">
  		<center><div class="col">{{notification.image}}&nbsp;{{notification.user}}
        <br>Plaid&nbsp;1 second ago
        <br>Yo received money
        <br>{{notification.user}}&nbsp;{{notification.ago}}
        <br>{{notification.text}}
        <br>Bloomberg&nbsp;3 seconds ago
        <br>AAPL on the rise.
      </div></center>
  	</div>
  </ion-content>
</ion-view>
