<ion-view title="Dashboard Notifications" ng-controller="AlertCenterCtrl as alertCenter">
  <ion-content>
  	
      <ion-list>
        <ion-item ng-repeat="notification in alertCenter.notificationList"> <hideWrap ng-hide="notification.canHide">
          {{notification.image}}&nbsp;{{notification.user}}
          <br> {{notification.user}}&nbsp;{{notification.ago}}
          <br> {{notification.text}} &nbsp;
          <span ng-repeat="reaction in notification.reactions" ng-click="alertCenter.react({{$parent.$index +1}}-1, {{$index +1}}-1)" >
            <a>{{reaction.text}}</a>&nbsp;&nbsp;
          </span>
          <!-- <div class="card"> -->
            <div class="item item-text-wrap" ng-show="notification.callbackResponse" style="padding:7px;">{{notification.callbackResponse}}
            </div>
          <!-- </div> -->
        </hideWrap></ion-item>
      </ion-list>

  </ion-content>
</ion-view>
