<ion-view title="Dashboard Notifications" ng-controller="AlertCenterCtrl as alertCenter">
  <ion-content>
    <ion-list ng-repeat="notification in alertCenter.notificationList">
      <hideWrap ng-hide="notification.canHide">
        <ion-item class="item-icon-right">
          <img ng-src="{{notification.image}}" style="width:50px; float: left; margin-right: 10px;" />
          <p style="margin-top: 5px;">{{notification.text}}</p>

          <span class="item-note">&nbsp;{{notification.sender}}
            {{notification.ago}}&nbsp;&nbsp; </span>
          <i class="icon ion-close-circled" ng-click="alertCenter.hideNotificationByIdx({{$index +1}}-1)"></i>

          <span ng-repeat="reaction in notification.reactions" ng-click="alertCenter.react({{$parent.$index +1}}-1, {{$index +1}}-1)">
            <a>{{reaction.text}}</a>&nbsp;&nbsp;
          </span>
          <!-- <div class="card"> -->
          <div class="bar-dark item item-text-wrap" ng-show="notification.callbackResponse" style="padding:7px;">{{notification.callbackResponse}}
          </div>
          <!-- </div> -->
      </hideWrap>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
